{% if cart.item_count == 0 %}
  <div class="ajax-cart__empty-cart a-center pt6 js-cart-empty {{ isEmpty }}">
    <h2>{{ 'cart.general.empty_title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
{% else %}
{% render 'cart-form',
   drawer: false,
   modal: false,
   page_only: false,
   no_js_cart: true,
   formEmpty: false,
   is_narrow: true %}
{% endif %}
