{% if collections.size > 0 %}
  {% paginate collections by items_per_page %}
    {% for collection in collections %}
      {% render 'collection-grid-item',
        collection: collection,
        items_per_row: items_per_row,
        grid_items: grid_items,
        index: forloop.index,
        show_count: show_count,
        show_link: show_link,
        product_image: product_image %}
    {% endfor %}

    {% if collections.size > items_per_page %}
      <div class="span-12 auto">
        {% render 'snip-pagination', paginate: paginate %}
      </div>
    {% endif %}

  {% endpaginate %}
{% else %}
  <div class="span-12 a-center v-center">
    <p>{{ 'collections.general.no_matches' | t }}</p>
  </div>
{% endif %}
