<div class="span-12 auto relative">
  <span class="demo-1 color-2">
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg on-board--placeholder' }}
      <h4 class="on-board--caption a-center absolute">{{ 'layout.homepage.onboarding.no_content' | t }}</h4>
  </span>

</div>
