<!-- Root element of PhotoSwipe. Must have class pswp. -->
<link rel="preload" href="{{ 'vendor-zoom.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'vendor-zoom.css' | asset_url }}"></noscript>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
   <!-- Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba(). -->
   <div class="pswp__bg"></div>
   <!-- Slides wrapper with overflow:hidden. -->
   <div class="pswp__scroll-wrap">
       <!-- Container that holds slides.
           PhotoSwipe keeps only 3 of them in the DOM to save memory.
           Don't modify these 3 pswp__item elements, data is added later on. -->
       <div class="pswp__container">
           <div class="pswp__item"></div>
           <div class="pswp__item"></div>
           <div class="pswp__item"></div>
       </div>
       <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
       <div class="pswp__ui pswp__ui--hidden">
         <button class="pswp__button pswp__button--zoom" title="Zoom in/out">
           {% render 'snip-icons',
              wrapper: '.pswp__scroll-wrap',
              type: 'theme',
              icon: 'search-plus',
              size: '20px',
              classes: 'pswp__icon--zoom-in m0',
              fill: 'var(--directional-text)',
              hover: 'var(--directional-text)' %}
          {% render 'snip-icons',
             wrapper: '.pswp__scroll-wrap',
             type: 'theme',
             icon: 'search-minus',
             size: '20px',
             classes: 'pswp__icon--zoom-out m0',
             fill: 'var(--directional-text)',
             hover: 'var(--directional-text)' %}
         </button>
         <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
           {% render 'snip-icons',
              wrapper: '.pswp__scroll-wrap',
              type: 'theme',
              icon: 'left-carrot',
              size: '35px',
              classes: 'mb0 mr1',
              fill: 'var(--directional-text)',
              hover: 'var(--directional-text)' %}
         </button>
         <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
           {% render 'snip-icons',
              wrapper: '.pswp__scroll-wrap',
              type: 'theme',
              icon: 'right-carrot',
              size: '35px',
              classes: 'mb0 ml1',
              fill: 'var(--directional-text)',
              hover: 'var(--directional-text)' %}
         </button>
         <button class="pswp__button pswp__button--close" title="Close (Esc)">
           {% render 'snip-icons',
              wrapper: '.pswp__scroll-wrap',
              type: 'theme',
              icon: 'close',
              size: '18px',
              classes: 'm0',
              fill: 'var(--directional-text)',
              hover: 'var(--directional-text)' %}
         </button>
       </div>
   </div>
</div>
