{% comment %}App Section Logic {% endcomment %}
{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if section.settings.full_width
    assign full_width =  'edge'
  endif

-%}

{% comment %} App Section Template {% endcomment %}
<div class="global__section {{ section_padding }}"
  data-section-id="{{ section.id }}"
  data-section-type="app"
  data-section-loaded="false">
  <div class="grid__wrapper {{ full_width }}">
    <div class="span-12 auto">
      {%- for block in section.blocks -%}
        {% render block %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "dynamic-section",
  "settings": [
  {
    "type": "checkbox",
    "id": "full_width",
    "label": "Enable full width",
    "default":true
  },
  {
    "type": "select",
    "id": "section_padding",
    "label": "Section spacing",
    "options": [
      {
        "value": "top",
        "label": "Top"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      },
      {
        "value": "both",
        "label": "Both"
      },
      {
        "value": "none",
        "label": "None"
      }
    ],
    "default": "both"
  }],
  "blocks": [{
    "type": "@app"
  }],
  "presets": [{
    "name": "Apps"
  }]
}
{% endschema %}
