{% layout none %}
{%- liquid
  assign drawer = false
  assign modal = false
  assign page_only = false
  assign no_js_cart = false

  if settings.cart_type == 'drawer'
    assign drawer = true
  elsif settings.cart_type == 'modal_cart'
    assign modal = true
  elsif settings.cart_type == 'page_only'
    assign page_only = true
  else
    assign no_js_cart = true
  endif

  if cart.item_count < 1
    assign isEmpty = ''
    assign formEmpty = 'hide'
  else
    assign isEmpty = 'hide'
    assign formEmpty = ''
  endif

  if settings.cart_type == 'drawer' or settings.cart_type == 'page_only'
    assign is_narrow = 'narrow'
  endif
-%}
<template data-options>
  {
    "item_count": {{ cart.item_count }}
  }
</template>
<template data-html="content">
  <div class="ajax-cart__empty-cart a-center pt6 js-cart-empty {{ isEmpty }}">
    <h2>{{ 'cart.general.empty_title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
  {% render 'cart-form',
     drawer: drawer,
     modal: modal,
     page_only: page_only,
     no_js_cart: no_js_cart,
     formEmpty: formEmpty,
     is_narrow: is_narrow %}
</template>
